<article *ngIf="hero" class="card">
  <img
    src="https://via.placeholder.com/300"
    class="card-img-top"
    alt="image example"
  />
  <section class="card-body">
    <h5 class="card-title">{{ hero.name }}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <button (click)="onClick()" class="btn btn-primary me-3">
      show details
    </button>
    <button (click)="onRemove()" class="btn btn-danger">Remove</button>
  </section>
</article>
